@using EnglishNow.Web.Models.Erro;
@model ErroViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ops, ocorreu um erro inesperado</h1>

<h2 class="text-danger">Um erro ocorreu na tentativa de processar sua requisição. Tente novamente mais tarde ou entre em contato com o suporte.</h2>

<p>
    Detalhes do erro: <code>@Model.MensagemErro</code>
</p>