@using EnglishNow.Web.Models.Menu
@{
    ViewData["Title"] = "Home Page";
    ViewData["Menu"] = Menu.Home;
}

<div class="text-center">
    <h1 class="display-4"><b>Bem-vindo</b></h1>
    <p>Esse é o portal da escola <b>EnglishNow</b>.</p>
</div>